@def $LOCAL = (
  127.0.0.1/8
);
@def $MGMT = (
  127.0.0.1/32
);
@def $CORP = (
  #Seattle Corp
  127.0.0.1/23
  127.0.0.1/24
  127.0.0.1/24
  127.0.0.1/24
  127.0.0.1/24
  127.0.0.1/24
  127.0.0.1/27
  127.0.0.1/27
  127.0.0.1/27
  127.0.0.1/27
  127.0.0.1/24
  127.0.0.1/24
  127.0.0.1/24
  127.0.0.1/32
);
@def $SAW = (
  127.0.0.1/27 #PS
  127.0.0.1/27 #GOV
  127.0.0.1/27 #EMEA
  127.0.0.1/27 #APAC
);
@def $SSH = (
  $CORP
  $MGMT
  $SAW
  $LOCAL
);
@def $AZLB = (
  127.0.0.1/32
);
table filter {
    chain INPUT {
        policy DROP;

        # connection tracking
        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        # allow local packet
        interface lo ACCEPT;

        #dont block anything local
        #saddr @ipfilter($LOCAL) ACCEPT;

        # respond to ping
        proto icmp ACCEPT;

        # allow MSFT connections
        saddr @ipfilter($SSH) proto tcp dport (ssh) ACCEPT;
    }
    chain OUTPUT {
        policy ACCEPT;

        # connection tracking
        #mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;
    }
    chain FORWARD {
        policy DROP;

        # connection tracking
        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;
    }
}

# IPv6:
#domain ip6 {
#    table filter {
#        chain INPUT {
#            policy ACCEPT;
#            # ...
#        }
#        # ...
#    }
#}
